{{#each patterns as |pattern|}}
  {{pattern.name}} <span {{action 'edit' pattern}}>Edit</span>

  {{#with (find-by 'pattern_id' pattern.id chartData) as |data|}}
    {{#pattern/chart-group data=data as |chart|}}
      {{#each chart.data.series as |item index|}}
        {{pattern/chart-item data=item index=index svg=chart.svg}}
      {{/each}}
    {{/pattern/chart-group}}
  {{/with}}
{{/each}}

<div class="newPatternLink">
  <button class="history-index-btn btn" {{action "newPattern"}}>
    {{t "history.step.index.newPatternText"}}
  </button>
</div>

{{chart-navigation
  date=centeredDate
  endAt=endAt
  startAt=startAt
  onNavigate=(action 'navigate')
}}
