{{#each patterns as |pattern|}}
  <div class='pattern-block'>
    <span class="pattern-name">{{pattern.name}}</span>
    <span class='pattern-edit' {{action 'edit' pattern}}>Edit</span>
  </div>

  {{#with (find-by 'pattern_id' pattern.id chartData) as |data|}}
    {{#pattern/chart-group data=data startAt=startAt endAt=endAt as |chart|}}
      {{#each chart.data.series as |item index|}}
        {{pattern/chart-item data=item index=index chart=chart}}
      {{/each}}
    {{/pattern/chart-group}}
  {{/with}}
{{/each}}

<div class="newPatternLink">
  <button class="history-index-btn btn" {{action "newPattern"}}>
    {{t "history.step.index.newPatternText"}}
  </button>
</div>

{{chart-navigation
  date=centeredDate
  endAt=endAt
  startAt=startAt
  onNavigate=(action 'navigate')
}}
