<div class="flaredown-transparent-box">
  <a {{action "navigateBack"}} class="mobile-back-button">Back</a>
</div>

<header class="centered">
  <h3>My topics</h3>
</header>

<div class="flaredown-white-box">
  <p>
    Your discussion page will show you posts related to these topics.
  </p>

  {{#power-select
    class="fs-private"
    search=(action "searchObjects")
    options=randomTrackables
    onchange=(action "addTopic")
    placeholder="Find topics..."
    renderInPlace=true
  as |object| }}
    {{object.name}}
  {{/power-select}}

  {{#each model.topics as |topic|}}
    <div class="followed-topic">
      {{#link-to "posts.topic" topic.modelType topic.id}}{{topic.name}}  &rsaquo;{{/link-to}}
      <span {{action "removeTopic" topic}} class="x-to-remove">{{closeSymbol}}</span>
    </div>
  {{/each}}
</div>
