<div class="pull-down"></div>

{{ navigation-links title='Discussion' optionObjects=foundTopics onSearch=(action "searchObjects") onGo=(action "goToTopic") authenticatedUser=session.isAuthenticated }}

{{#if session.isAuthenticated}}
  <div class="flaredown-transparent-box vert-offset-bottom-1 discussion-links">
    <div class="pull-left">
      {{link-to "All" "posts" (query-params following=null) class="btn btn-filter nav-following"}}
      {{link-to "Following" "posts" (query-params following=true) class="btn btn-filter nav-following"}}
    </div>

    {{link-to "+ New post" "posts.new" class="btn btn-link"}}
  </div>
{{/if}}

{{#each model.posts as |post|}}
  {{posts/topic-post post=post authenticatedUser=session.isAuthenticated}}
{{/each}}

{{ember-ic-you triggerDistance=40}}

{{#if loadingPosts}}
  {{partial "application/three-bounce-spinner"}}
{{/if}}

