<header class="centered">
  <h3>Discussions</h3>
</header>

<div class="flaredown-transparent-box vert-offset-bottom-1 discussion-links">
  {{link-to myTopicsText "posts.followings"}}
  {{link-to "My activity" "posts.profile"}}
  {{link-to "New post" "posts.new" class="btn-link"}}
</div>

<div class="flaredown-white-box">
  {{#power-select
    class="fs-private"
    search=(action "searchObjects")
    options=randomTrackables
    onchange=(action "goToTopic")
    placeholder="Navigate to topic..."
    renderInPlace=true
  as |object| }}
    {{object.name}}
  {{/power-select}}
</div>

{{#each model.posts as |post|}}
  {{posts/topic-post post=post}}
{{/each}}

{{ember-ic-you triggerDistance=40}}

{{#if loadingPosts}}
  {{partial "application/three-bounce-spinner"}}
{{/if}}

