<div class="flaredown-transparent-box">
  <a {{action "navigateBack" class="mobile-back-button"}}>Cancel</a>
</div>

<header class="centered">
  <h3>New post</h3>
</header>

<div class="flaredown-white-box">
  {{input type="text" value=model.title placeholder="Post title"}}
</div>

<div class="flaredown-white-box">
  {{textarea value=model.body rows="6" placeholder="Write your awesome post here..."}}
</div>

<div class="flaredown-transparent-box">
  <p class="colorable-clr-37">Add topics like conditions, symptoms, or treatments so people can find your post:</p>

  {{#each model.topics as |topic|}}
    <span class="badge-primary colorable-clr-36 vert-offset-bottom-0_5" {{action "removeTopic" topic}}>
      {{topic.name}}
    </span>
  {{/each}}
</div>

<div class="flaredown-white-box">
  {{#power-select
    class="fs-private"
    search=(action "searchObjects")
    options=randomTrackables
    onchange=(action "addTopic")
    placeholder="Choose topics..."
    renderInPlace=true
  as |object| }}
    {{object.name}}
  {{/power-select}}
</div>

<button {{action "savePost"}} class="primary-btn" disabled={{disabled}}>Submit</button>
