<div class="flaredown-transparent-box">
  <a {{action "navigateBack"}}>Cancel</a>
</div>

<header class="centered vert-offset-bottom-2">
  <h4>New post</h4>
</header>

<div class="flaredown-white-box">
  {{input type="text" value=model.title placeholder="Title of post..."}}
</div>

<div class="flaredown-white-box">
  {{textarea value=model.body rows="6" placeholder="Body of post..."}}
</div>

<div class="flaredown-transparent-box">
  <p class="colorable-clr-37">Tag your post so people can find it</p>

  {{#each model.topics as |topic|}}
    <span class="badge-primary colorable-clr-36 vert-offset-bottom-0_5" {{action "removeTopic" topic}}>
      {{topic.name}}
    </span>
  {{/each}}
</div>

<div class="flaredown-white-box">
  {{#power-select
    class="fs-private"
    search=(action "searchObjects")
    options=randomTrackables
    onchange=(action "addTopic")
    placeholder="Add a condition"
    renderInPlace=true
  as |object| }}
    {{object.name}}
  {{/power-select}}
</div>

<button {{action "savePost"}} class="primary-btn" disabled={{disabled}}>Submit</button>
