<div class="pull-down"></div>
{{ navigation-links title='Profile' optionObjects=foundTopics onSearch=(action "searchObjects") onGo=(action "goToTopic") }}

<header class="centered flaredown-transparent-box profile-header">
  {{posts/profile-picture}}
  {{screenName}}
</header>

{{#each notifications.notifications as |notification|}}
  {{posts/activity-notification notification=notification}}
{{/each}}

{{#each postables as |postable|}}
  {{#if (eq postable.type "post")}}
    {{posts/topic-post post=postable elipsis=null}}
  {{else}}
    {{posts/topic-comment comment=postable}}
  {{/if}}
{{/each}}

{{ember-ic-you triggerDistance=40}}

{{#if loadingPostables}}
  {{partial "application/three-bounce-spinner"}}
{{/if}}
