<div class="flaredown-transparent-box">
  <a {{action "navigateBack" class="mobile-back-button"}}>Back</a>
</div>

<header class="centered flaredown-transparent-box">
  <h3>{{screenName}}'s posts</h3>
</header>

{{#each postables as |postable|}}
  {{#if (eq postable.type "post")}}
    {{posts/topic-post post=postable}}
  {{else}}
    {{posts/topic-comment comment=postable}}
  {{/if}}
{{/each}}

{{ember-ic-you triggerDistance=40}}

{{#if loadingPostables}}
  {{partial "application/three-bounce-spinner"}}
{{/if}}
