<div class="flaredown-transparent-box">
  <a {{action "navigateBack"}}>Back</a>
</div>

<header class="centered vert-offset-bottom-2">
  <h4>{{screenName}}'s posts</h4>
</header>

{{#each postables as |postable|}}
  {{#if (eq postable.type "post")}}
    {{posts/topic-post post=postable}}
  {{else}}
    {{posts/topic-comment comment=postable}}
  {{/if}}
{{/each}}

{{ember-ic-you triggerDistance=40}}

{{#if loadingPostables}}
  {{partial "application/three-bounce-spinner"}}
{{/if}}

