<div class="pull-down"></div>
{{ navigation-links title='Post page' optionObjects=foundTopics onSearch=(action "searchObjects") onGo=(action "goToTopic") authenticatedUser=session.currentUser}}

<div class="flaredown-post-page vert-offset-top-1">
<header class="flaredown-transparent-box centered">
  <h3>{{post.title}}</h3>
</header>

<div class="flaredown-white-box">
  <p class="colorable-clr-38">{{post.userName}}</p>
  <p>{{post.bodyWithBr}}</p>

  {{posts/post-topics post=post}}

  {{emoji-reactions reactable=post}}

  {{#each post.comments as |comment|}}
    {{posts/post-comment comment=comment}}
  {{/each}}
</div>

{{#if session.currentUser}}
  <div class="flaredown-white-box">
    {{textarea value=newComment.body placeholder="Leave a comment..."}}

    <button {{action "submitComment"}} class="primary-btn" disabled={{disabled}}>Submit</button>
  </div>
{{/if}}
</div>
