<div class="pull-down"></div>
{{ navigation-links title='Post' optionObjects=foundTopics onSearch=(action "searchObjects") onGo=(action "goToTopic") isAuthenticatedUser=session.isAuthenticated}}

<div class="flaredown-post-page vert-offset-top-1">
<header class="flaredown-transparent-box centered">
  <h3>{{post.title}}</h3>
</header>

<div class="flaredown-white-box">
  <p class="colorable-clr-38">{{post.userName}}</p>
  <p>{{post.bodyWithBr}}</p>

  {{posts/post-topics post=post}}

  {{emoji-reactions reactable=post isAuthenticatedUser=session.isAuthenticated}}

  {{share-socials url=post.show title=post.title text=post.body}}

  {{#scroll-to-anchor anchor=anchor}}
    {{#each post.comments as |comment|}}
      {{posts/post-comment comment=comment isAuthenticatedUser=session.isAuthenticated}}
    {{/each}}
  {{/scroll-to-anchor}}
</div>

{{#if session.isAuthenticated}}
  <div class="flaredown-white-box">

    {{at-js-autocomplete value=newComment.body postId=post.id}}

    <button {{action "submitComment"}} class="primary-btn" disabled={{disabled}}>Submit</button>
  </div>
{{/if}}

{{#unless session.isAuthenticated}}
  {{!-- {{additional-info}} --}}
  {{join-footer}}
{{/unless}}
</div>
