<a {{action "navigateBack"}}>Back</a>

<header class="centered">
  <h4>{{post.title}}</h4>
</header>

<div class="flaredown-white-box">
  <p>{{post.userName}}</p>
  <p>{{post.body}}</p>

  {{posts/post-topics post=post}}

  {{#each post.comments as |comment|}}
    <hr>

    <p>{{comment.userName}}</p>
    <p>{{comment.body}}</p>
  {{/each}}
</div>

<div class="flaredown-white-box">
  {{textarea value=newComment.body placeholder="Leave a comment..."}}

  <button {{action "submitComment"}} class="primary-btn" disabled={{disabled}}>Submit</button>
</div>
