<h4>{{#link-to 'posts.show' post class="colorable-clr-39"}}{{post.title}}{{/link-to}}</h4>

<p>{{truncate-text post.body limit=180}}</p>

{{posts/post-topics post=post}}

{{emoji-reactions reactable=post}}

{{#link-to 'posts.show' post class="colorable-clr-38"}}{{post.commentsCount}} comments{{/link-to}}
