{{#if (not (includes currentPath "oracle" "oracle.index" "oracle.result"))}}
  <header class="centered navigation" role="banner">
    {{#if session.isAuthenticated}}
      {{navigation-bar}}
    {{else}}
      {{toggle-logo currentPath=currentPath}}
    {{/if}}
  </header>
{{/if}}


{{outlet}}

<footer>
  <a href="mailto:contact@flaredown.com" class="footer-help-btn">Help&nbsp;&&nbsp;Feedback</a>
  <br>
  {{#link-to "terms-of-service"}}Terms&nbsp;of&nbsp;Service{{/link-to}}
  {{#link-to "privacy-policy"}}Privacy&nbsp;Policy{{/link-to}}
  <br>
  Flaredown &copy; 2017
</footer>

{{#if session.isAuthenticated}}
  {{bottom-nav}}
{{/if}}

{{outlet "modal"}}
