{{ navigation-links title='Settings' optionObjects=foundTopics onSearch=(action "searchObjects") onGo=(action "goToTopic") isAuthenticatedUser=session.isAuthenticated}}

<div class="flaredown-white-box vert-offset-top-1 vert-offset-top-3-conditional">
  <h3>Account</h3>

  {{profile-form model=model class="vert-offset-bottom-2"}}

  {{data-export-initiator}}
  <br>
  {{#link-to 'delete'}}Delete my account{{/link-to}}
  <br>
  <a {{action 'invalidateSession'}}>Logout</a>
</div>

<div class="flaredown-white-box">
  <h3>Notifications</h3>

  {{notifications-form model=model class="vert-offset-bottom-2" showReminder=true}}
</div>

<div class="flaredown-white-box">
  <h3>Password</h3>

  {{update-password-form model=model}}
</div>
