{{save-status record=checkin}}

<h2>{{step.title}}</h2>
<h4>{{prBody}}</h4>

<ul class="prRate">
  {{#each prRates as |prRate|}}
    <li class="{{if (eq selectedRate prRate) 'active'}}" {{action (mut selectedRate) prRate}}>
      {{prRate}}
    </li>
  {{/each}}
</ul>

<br>
<div class="container">
  <button class="btn-primary pr-btn" {{action "sendFeedback"}} disabled={{not selectedRate}}>
    {{feedBackLabel}}
  </button>
</div>

{{step-controls
  step=step
  onForward=(action "skipStep")
  linkForward=true
  onBackward=(action "goBack")
  forwardLabel="Skip"
}}
