<br>
<div class="flaredown-white-box">
  {{checkin/trackables-step trackeds=checkin.conditions
                            trackableType='condition'
                            stepControls=false
                            isSaving=savingConditions
                            othersAreSaving=(or savingSymptoms savingTreatments) }}
</div>
<div class="flaredown-white-box">
  {{checkin/trackables-step trackeds=checkin.symptoms
                            trackableType='symptom'
                            stepControls=false
                            isSaving=savingSymptoms
                            othersAreSaving=(or savingConditions savingTreatments) }}
</div>
<div class="flaredown-white-box">
  {{checkin/trackables-step trackeds=checkin.treatments
                            trackableType='treatment'
                            stepControls=false
                            isSaving=savingTreatments
                            othersAreSaving=(or savingSymptoms savingConditions) }}
</div>
<div class="flaredown-white-box">
  {{checkin/tags-edit checkin=checkin}}
</div>

{{step-controls step=model.currentStep
                showBack=false
                forwardLabel="Back to Dashboard"
                onForward=(action "completeStep") }}
