<br>
<div class="flaredown-white-box">
  {{checkin/trackables-step trackeds=checkin.conditions
                            trackableType='condition'
                            stepControls=false }}
</div>
<div class="flaredown-white-box">
  {{checkin/trackables-step trackeds=checkin.symptoms
                            trackableType='symptom'
                            stepControls=false }}
</div>
<div class="flaredown-white-box">
  {{checkin/trackables-step trackeds=checkin.treatments
                            trackableType='treatment'
                            stepControls=false }}
</div>
<div class="flaredown-white-box">
  {{checkin/tags-step stepControls=false }}
</div>

{{step-controls step=model.currentStep
                showBack=false
                forwardLabel="View graphs"
                onForward=(action "completeStep") }}
