<br>
{{checkin/note-edit checkin=checkin}}
<div class="flaredown-white-box">
  {{checkin/trackables-step trackeds=checkin.conditions
                            trackableType='condition'
                            embeddedInSummary=true }}
</div>
<div class="flaredown-white-box">
  {{checkin/trackables-step trackeds=checkin.symptoms
                            trackableType='symptom'
                            embeddedInSummary=true }}
</div>
<div class="flaredown-white-box">
  {{checkin/trackables-step trackeds=checkin.treatments
                            trackableType='treatment'
                            embeddedInSummary=true }}
</div>
<div class="flaredown-white-box">
  {{checkin/multi-select-step
    step='checkin-foods'
    idsKey='foodIds'
    modelName='food'
    relationName='foods'
    embeddedInSummary=true
  }}
</div>
<div class="flaredown-white-box">
  {{checkin/multi-select-step
    step='checkin-tags'
    idsKey='tagIds'
    modelName='tag'
    relationName='tags'
    embeddedInSummary=true
  }}
</div>

{{step-controls step=model.currentStep
                showBack=false
                forwardLabel="View graphs"
                onForward=(action "completeStep") }}
