<h3 class="centered">{{t "sharedCharts.dialog.title"}}</h3>

<button class="sharedChartsBtn" {{action "sendEmail"}}>
  {{t "sharedCharts.dialog.buttonText"}}
</button>

<div class="sharedChartsUrl centered">
  <label>{{t "sharedCharts.dialog.sharedUrl"}}</label>
  {{input value=encryptedUrl}}
</div>

<div class="sharedBottom centered">
  {{#link-to 'chart'}}{{t "sharedCharts.dialog.done"}}{{/link-to}}
</div>
