{{#each existingTrackings as |tracking| }}
  {{#if (and trackableTypeIsCondition tracking.isForCondition)}}
    <h6 class="trackable">{{tracking.trackable.name}}</h6>
  {{else if (and trackableTypeIsSymptom tracking.isForSymptom)}}
    <h6 class="trackable">{{tracking.trackable.name}}</h6>
  {{else if (and trackableTypeIsTreatment tracking.isForTreatment)}}
    <h6 class="trackable">{{tracking.trackable.name}}</h6>
  {{/if}}
{{/each}}
{{#each newTrackings as |tracking| }}
  <h6 class="trackable">{{tracking.trackable.name}}</h6>
{{/each}}

{{select-field resource=trackableType
               selection=selectedTrackable
               onSelect=(action "trackSelected")
               create=true
               placeholder=selectPlaceholder}}

<div class="explainer">
  Not required, and you can change these later
</div>
