{{#link-to 'settings' class='bottom-link'}}
  {{inline-svg 'settings-icon' class='icon'}}

  <label>SETTINGS</label>
{{/link-to}}


{{#if notifications.unread}}
  {{nav/discussions-unread}}
{{else}}
  {{#link-to 'posts' class='bottom-link'}}
    {{inline-svg 'discuss' class='icon'}}

    <label>DISCUSS</label>
  {{/link-to}}
{{/if}}

{{!-- <div class="bottom-link">
  {{inline-svg 'explore' class='icon'}}

  <label>EXPLORE</label>
</div> --}}

{{#link-to 'chart' class='bottom-link'}}
  {{inline-svg 'history_2' class='icon'}}

  <label>HISTORY</label>
{{/link-to}}

<a href="/" {{action "goToTodaysCheckin"}} class="{{checkinNavClass}}">
  {{inline-svg 'checkin_2' class='icon'}}

  <label>CHECKIN</label>
</a>
