<div class="left-arrow">
  <a {{action 'navigateLeft'}}>
    {{inline-svg 'arrow-left' class='arrow-icon'}}
  </a>
</div>

{{#if patternNavbar}}
  <div class="calendar">
    <a class="calendar-opener-start calendarItem" {{action 'openPicker' 'start' bubbles=false}}>
      &nbsp;
      {{startAtLabel}}

      {{pick-a-date
        date=(readonly startDate)
        options=(readonly pickadateOptionsStart)
        on-selected=(action 'startChanged')
      }}
    </a>
    <span>to</span>
    <a class="calendar-opener-end calendarItem" {{action 'openPicker' 'end' bubbles=false}}>
      &nbsp;
      {{endAtLabel}}

      {{pick-a-date
        date=(readonly endDate)
        options=(readonly pickadateOptionsEnd)
        on-selected=(action 'endChanged')
      }}
    </a>
  </div>

  <div class="rigth-arrow">
    {{#if rigthArrowVisibile}}
      <a {{action 'navigateRight'}}>
        {{inline-svg 'arrow-right' class='arrow-icon'}}
      </a>
    {{/if}}
  </div>
{{else}}
  <a class="calendar-opener calendarItem" {{action 'openPicker' bubbles=false}}>
    &nbsp;
    {{startAtLabel}}

    {{pick-a-date
      date=(readonly startDate)
      options=(readonly pickadateOptions)
      on-selected=(action 'startChanged')
    }}
  </a>

  <span>
    {{inline-svg 'eye' class='eye-icon'}}
    &nbsp;
    {{visibleChartsCount}} visible
  </span>

  <div class="rigth-arrow">
    <a {{action 'navigateRight'}}>
      {{inline-svg 'arrow-right' class='arrow-icon'}}
    </a>
  </div>
{{/if}}
