<div class='history-box'>
  {{#if patterns.isPending}}
    {{partial "application/three-bounce-spinner"}}
  {{else if (eq currentStep STEPS.INITIAL)}}
    <div class="flaredown-transparent-box">
      <p class="centered">{{t "history.step.initial.text"}}</p>

      {{pattern/svg-initial}}
      <div class="history-container">
        <button class="history-btn large-btn" {{action "nextStep"}}>
          {{t "history.step.initial.buttonText"}}
        </button>
      </div>
    </div>

  {{else if (eq currentStep STEPS.CREATE)}}
    {{pattern/create-step
      model=selectedPattern
      onSaved=(action (mut currentStep) STEPS.INDEX)
      onCanceled=(action (mut currentStep) STEPS.INDEX)
    }}

    {{else if (eq currentStep STEPS.INDEX)}}
      {{pattern/index-step
        patterns=patterns
        authorPage=true
        onEdit=(action 'edit')
        onCreate=(action 'create')
        onRequest=(action 'requestData')
      }}
    {{/if}}
</div>
