{{#if isSummary}}
  <h2 class="summary-title">{{step.title}}</h2>

  {{checkin/days-nav big=isSummary checkin=checkin step=step}}

  {{save-status record=checkin}}

  {{checkin/summary-step onStepCompleted=(action 'moveToNextStep')
                         onGoBack=(action 'moveToPrevStep') }}
{{else}}
  {{checkin/days-nav big=isSummary checkin=checkin step=step}}

  <div class="flaredown-white-box">
    {{#if isStart}}
      {{checkin/start-step onStepCompleted=(action 'moveToNextStep')
                           onGoBack=(action 'moveToPrevStep') }}

    {{else if isConditions}}
      {{checkin/trackables-step trackeds=checkin.conditions
                                trackableType='condition'
                                onStepCompleted=(action 'moveToNextStep')
                                onGoBack=(action 'moveToPrevStep') }}

    {{else if isHarveyBradshawIndex}}
      {{checkin/hbi-step
        onGoBack=(action 'moveToPrevStep')
        onStepCompleted=(action 'moveToNextStep')
      }}

    {{else if isSymptoms}}
      {{checkin/trackables-step trackeds=checkin.symptoms
                                trackableType='symptom'
                                onStepCompleted=(action 'moveToNextStep')
                                onGoBack=(action 'moveToPrevStep') }}

    {{else if isTreatments}}
      {{checkin/trackables-step trackeds=checkin.treatments
                                trackableType='treatment'
                                onStepCompleted=(action 'moveToNextStep')
                                onGoBack=(action 'moveToPrevStep') }}

    {{else if isHeathFactors}}
      {{checkin/health-factors-step
        onStepCompleted=(action 'moveToNextStep')
        onGoBack=(action 'moveToPrevStep')
      }}
    {{/if}}
  </div>
{{/if}}

{{checkin-navigation checkin=checkin}}
