{{label-switch checked=(mut isTaken)
               bgColorClass=model.bgClass}}
<h4 class="name {{unless isTaken 'untaken'}}">
  &nbsp;{{treatment.name}}
  <span class="x-to-remove" {{action 'removeTreatment'}}>×</span>
</h4>
<br>
{{#if isTaken}}
  {{#if isEditMode}}

    {{select-field resource="dose"
                   defaultQueryParams=doseQueryParams
                   openOnFocus=false
                   selection=(mut dose)
                   onSelect=(action "doneEditing")
                   onBlur=(action "cancelEditing")
                   create=true
                   plugins="restore_on_backspace,remove_button"
                   placeholder="e.g. 2 x 30mg"
                   class=(concat "indented dose-field " model.borderClass) }}

  {{else}}
    <a href="#" class="indented dose {{model.borderClass}} {{model.clrClass}}" {{action 'edit'}}>
      {{if dose dose.name "No dose"}}
    </a>
  {{/if}}
  {{#if dose}}
    &nbsp;<span class="x-to-remove" {{action 'clearDose'}}>×</span>
  {{/if}}
{{/if}}
