<!-- TODO: checkin-days-nav component to move back and forth in days -->
<div class="checkin-days-nav">
  <div class="yesterday"><a href="#">‹</a></div>
  <div class="checkin-date">
    {{monthAndDay}}
  </div>
  <div class="tomorrow"><a href="#">›</a></div>
</div>

<!-- TODO: move this to individual components -->
{{#unless isToday}}
  <div class="tip">
    You are currently editing in the past, changes made here won't be taken into account for future checkins
  </div>
{{/unless}}

<h2>{{step.title}}</h2>
{{#if step.hint}}
  <div class="tip">{{{step.hint}}}</div>
{{/if}}

{{#if isStart}}
  {{checkin/start-step onStepCompleted=(action 'moveToNextStep')
                       onGoBack=(action 'moveToPrevStep') }}

{{else if isConditions}}
  {{checkin/conditions-step onStepCompleted=(action 'moveToNextStep')
                            onGoBack=(action 'moveToPrevStep') }}

{{else if isSymptoms}}
  {{checkin/symptoms-step onStepCompleted=(action 'moveToNextStep')
                          onGoBack=(action 'moveToPrevStep') }}

{{else if isTreatments}}
  {{checkin/treatments-step onStepCompleted=(action 'moveToNextStep')
                            onGoBack=(action 'moveToPrevStep') }}

{{else if isTags}}
  {{checkin/tags-step onStepCompleted=(action 'moveToNextStep')
                      onGoBack=(action 'moveToPrevStep') }}

{{else if isSummary}}
  {{checkin/summary-step onStepCompleted=(action 'moveToNextStep')
                         onGoBack=(action 'moveToPrevStep') }}
{{/if}}

