{{#if chartLoaded }}
  <svg width='100%' height={{SVGHeight}}>
    <g class="health-chart-viewport" transform="translate(0, {{seriePadding}})">

        {{#each series.conditions as |condition|}}
          {{chart/g-trackable padding=seriePadding
                              height=serieHeight
                              width=seriesWidth
                              checkins=checkins
                              timeline=timeline
                              startAt=startAt
                              endAt=endAt
                              model=condition.model
                              index=condition.index}}
        {{/each}}

        {{#each series.symptoms as |symptom|}}
          {{chart/g-trackable padding=seriePadding
                              height=serieHeight
                              width=seriesWidth
                              checkins=checkins
                              timeline=timeline
                              startAt=startAt
                              endAt=endAt
                              model=symptom.model
                              index=symptom.index}}
        {{/each}}

        {{#each series.treatments as |treatment|}}
          {{chart/g-flat
            padding=seriePadding
            height=serieHeight
            width=seriesWidth
            checkins=checkins
            timeline=timeline
            startAt=startAt
            endAt=endAt
            model=treatment.model
            index=treatment.index
          }}
        {{/each}}

        {{#each series.weathers_mesures as |weathers_mesure|}}
          {{chart/g-weather
            checkins=checkins
            field=weathers_mesure.field
            height=serieHeight
            index=weathers_mesure.index
            name=weathers_mesure.name
            padding=seriePadding
            startAt=startAt
            timeline=timeline
            unit=weathers_mesure.unit
            width=seriesWidth
          }}
        {{/each}}

        {{chart/g-timeline  startAt=startAt
                            endAt=endAt
                            timeline=timeline
                            timelineLength=timelineLength
                            width=seriesWidth
                            totalSeriesHeight=totalSeriesHeight
                            SVGWidth=SVGWidth
                            onDateClicked=(action "setCurrentDate")
                            onMouseHover=(action "openInfoWindow")
                            onMouseLeave=(action "closeInfoWindow")}}

    </g>

    {{#if openInfoWindow }}
      <line x1="{{xPosition}}" y1="0" x2="{{xPosition}}" y2="{{totalSeriesHeight}}" class="vertical-line" />
    {{/if}}
  </svg>
  <img class="trans-pixel" src="/assets/trans-pixel.png">
{{else}}
  <div class="container health-spinner">
    <div class="sk-three-bounce">
      <div class="sk-child sk-bounce1"></div>
      <div class="sk-child sk-bounce2"></div>
      <div class="sk-child sk-bounce3"></div>
    </div>
  </div>
{{/if}}
