{{#if chartLoaded }}
  <svg width='100%' height={{SVGHeight}}>
    <g class="health-chart-viewport">

        {{#each series.conditions as |condition|}}
          {{chart/g-trackable model=condition.model index=condition.index}}
        {{/each}}

        {{#each series.symptoms as |symptom|}}
          {{chart/g-trackable model=symptom.model index=symptom.index}}
        {{/each}}

        {{#each series.treatments as |treatment|}}
          {{chart/g-trackable model=treatment.model index=treatment.index type="symbol"}}
        {{/each}}

        {{chart/g-timeline  onDateClicked=(action "setCurrentDate")
                            onMouseHover=(action "openInfoWindow")
                            onMouseLeave=(action "closeInfoWindow")}}

    </g>

    {{#if openInfoWindow }}
      <line x1="{{xPosition}}" y1="0" x2="{{xPosition}}" y2="{{totalSeriesHeight}}" class="vertical-line" />
    {{/if}}
  </svg>
  <img class="trans-pixel" src="{{router.rootURL}}assets/trans-pixel.png">
{{else}}
  <div class="container health-spinner">
    <div class="sk-three-bounce">
      <div class="sk-child sk-bounce1"></div>
      <div class="sk-child sk-bounce2"></div>
      <div class="sk-child sk-bounce3"></div>
    </div>
  </div>
{{/if}}
