<h6 class="centered">{{date}}</h6>

<p>{{checkin.note}}</p>

<p>{{pip-label symptomCeil}} symptoms</p>

<div class="progress-container vert-offset-bottom-2">
  <div class="progressbar" style={{style}}></div>
</div>

{{link-to "Edit" "checkin.show" checkinId "summary"}}
