<div class="flex-container left-nav">
  {{#if navigateBackHistory}}
    <a {{action "navigateBack" class="mobile-back-button"}}>{{inline-svg 'left-arrow' class='icon'}}</a>
  {{/if}}
</div>

<h5 class="centered page-title">{{title}}</h5>

<div class="flex-container right-nav">
  <a href="/" {{action "toggleSearchBar"}}>
    {{inline-svg 'search' class='icon'}}
  </a>
  {{#link-to 'posts.profile'}}{{inline-svg 'profile' class='icon'}}{{/link-to}}

  {{#if session.currentUser.profile.betaTester}}
    {{#link-to 'notifications' class=(if notifications.unread 'notification' '')}}
      {{inline-svg 'notification' class='icon'}}
    {{/link-to}}
  {{/if}}
</div>


{{#if showSearch}}
  <div class="flex-container search-resource">
    {{#power-select
      class="fs-private"
      search=(action "searchObjects")
      options=optionObjects
      onchange=(action "goToSelectedTopic")
      placeholder="Search topics..."
      renderInPlace=true
      allowClear=true
      as |object| }}
        {{object.name}}
        <div class="typeTopickable">
          {{capitalize object.modelType}} - {{pluralize object.usersCount "user"}}
        </div>
    {{/power-select}}

    <a href="/" {{action "toggleSearchBar"}}>
      {{inline-svg 'close' class='icon'}}
    </a>
  </div>
{{/if}}
