<h2>{{step.title}}</h2>
{{#if step.hint}}
  <div class="tip">{{{step.hint}}}</div>
{{/if}}

{{#if isPersonal}}
  {{onboarding/personal-step onStepCompleted=(action 'moveToNextStep')
                             onGoBack=(action 'moveToPrevStep') }}

{{else if isDemographic}}
  {{onboarding/demographic-step onStepCompleted=(action 'moveToNextStep')
                                onGoBack=(action 'moveToPrevStep') }}

{{else if isConditions}}
  {{onboarding/conditions-step onStepCompleted=(action 'moveToNextStep')
                               onGoBack=(action 'moveToPrevStep') }}

{{else if isSymptoms}}
  {{onboarding/symptoms-step onStepCompleted=(action 'moveToNextStep')
                             onGoBack=(action 'moveToPrevStep') }}

{{else if isTreatments}}
  {{onboarding/treatments-step onStepCompleted=(action 'moveToNextStep')
                               onGoBack=(action 'moveToPrevStep') }}

{{else if isCompleted}}
  {{onboarding/completed-step onGoBack=(action 'moveToPrevStep') }}

{{/if}}
