{{#form-for for=model onSubmit="save"}}

  {{#form-field for="email" label="Email"}}
    {{input value=model.email placeholder="Enter your email" class="fs-private"}}
  {{/form-field}}

  {{#form-field for="password" label="Password"}}
    {{input type="password" value=model.password placeholder="Enter a secure password"}}
  {{/form-field}}

  {{#form-field for="screenName" label="Username"}}
    <p class="p-note">Other users will never see your data. Your username will only be displayed if you choose to post in the Flaredown chat.</p>
    {{input value=model.screenName placeholder="Enter a username" class="fs-private"}}
  {{/form-field}}

  {{#form-field for="birthDate" label="Birth Date" class="birthdayForm"}}
    {{birth-date birthDate=model.birthDate}}
    {{#if (and isError isShowError)}}
      <p class="error-message" style="margin-top: 0;">
        You must be 16 years or older to use this app according to international privacy regulations. Sorry :(
      </p>
    {{else}}
      {{#if isBlankError}}
        <p class="error-message" style="margin-top: 0;">
          can't be blank
        </p>
      {{/if}}
    {{/if}}
  {{/form-field}}

  <div class="checkbox" style="margin: 0.5em 0 1em;">
    {{input type="checkbox" checked=model.acceptPrivacyTerms}}
    I accept the&nbsp;{{#link-to 'terms-of-service'}}Terms&nbsp;of&nbsp;Service{{/link-to}}&nbsp;and&nbsp;{{#link-to 'privacy-policy'}}Privacy&nbsp;Policy{{/link-to}}
    {{#if (eq model.acceptPrivacyTerms false)}}
      <p class="error-message" style="margin-top: 0; font-weight: bold; font-size: 0.9em;">
        Please, accept the Terms of Service and Privacy Policy.
      </p>
    {{/if}}
  </div>

  {{#form-field for="captchaResponse" label="Are you a robot?"}}
    {{g-recaptcha onSuccess=(action "onCaptchaResolved") ref=(mut gRecaptcha) }}
  {{/form-field}}

  <br>
  <p>Already have an account? {{#link-to 'login'}}Log in{{/link-to}}</p>
  {{input type="submit" class="btn-primary" value="Create account"}}
{{/form-for}}

{{#if errorMessage}}
  <div class="alert alert-danger">
    <p><strong>Signup failed:</strong> <code>{{errorMessage}}</code></p>
  </div>
{{/if}}
