<div class="back">
  {{#if (and showBack step.hasPrev)}}
    <a class="{{if disabled 'disabled'}}" {{action "backward"}}>{{backLabel}}</a>
  {{else}}
    &nbsp;
  {{/if}}
</div>
<div class="forward">
  <button class="btn-primary {{if disabled 'disabled'}}" {{action "forward"}}>{{forwardLabel}}</button>
</div>
