<h4>
  {{label}}
  <span class="x-to-remove" {{action 'xClick'}}>×</span>
</h4>
<div>
  <ul class="pips">
    {{#each values as |value|}}
      <li class="basic
                 {{if (gte currentValue value) (concat 'highlight ' model.bgClass) 'no-highlight'}}
                 {{if (eq currentValue value) 'selected' 'not-selected'}}
                 {{if (eq value 0) (if (gt currentValue 0) 'smiley hide-color' 'smiley') }}"
          {{action 'pipClick' value}}>
        {{value}}
      </li>
    {{/each}}
  </ul>
</div>
