{{checkin/days-nav big=isSummary date=model.date}}

<div class="flaredown-white-box">
  {{#if model.checkins}}
    <div class="checkins-list-container">
      <img src="/assets/checkins.svg">
      <h5 class="checkins-text">You've had <strong>{{pluralize model.checkins.length "check-in"}}</strong>   {{checkToday model.date "today"}}</h5>
    </div>
    <div class="checkins-list">
      {{#each model.checkins as |checkin index|}}
        <a href="#" {{action "goToCheckin" checkin}}>
          <li class="nav-link">
            <div>{{indexPlusOne index}}) Check-in </div>
            <div class="arrow-check-in">›</div>
          </li>
        </a>
        {{#if (not (eq checkin model.checkins.lastObject))}}
          <div class="separator-line"></div>
        {{/if}}
      {{/each}}
    </div>
  {{else}}
    <div class="empty-state">
      <img src="/assets/empty.svg" >
      <div>You have no check-ins{{checkToday model.date " for today"}}.</div>
    </div>
  {{/if}}



  <button class="primary-btn" {{action "goToNewCheckin" model.date}}>Start a new Check-in</button>
</div>