<div>
  {{name}} {{confidence}}
</div>


{{input name=elementId type="radio"}} Doctor diagnosed
<br>
{{input name=elementId type="radio"}} Self-diagnosed
<br>
{{input name=elementId type="radio"}} Unknown
<br>
{{input name=elementId type="radio"}} I don't have this
