<div>
  {{name}} {{confidence}}
</div>

<label>
  {{input name=elementId type="radio"}} Doctor diagnosed
</label>

<label>
  {{input name=elementId type="radio"}} Self-diagnosed
</label>

<label>
  {{input name=elementId type="radio"}} Unknown
</label>

<label>
  {{input name=elementId type="radio"}} I don't have this
</label>
